body {
  footer {
    .footer-left {
      width: 80%;
      margin: 0 auto;

      form {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 16% 16% 50% 16%;
        margin: 50px 0;
        gap: 10px;

        div {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
         

          input[type="text"], 
          textarea {
            padding: 15px 10px;
            margin-top: 20px;
            border: 1px solid $barcolor;
            border-radius: 5px;
            resize: none;
            line-height: 1;
            flex: 0 1 auto;
            font-size: 1.2rem;

            &:focus {
              outline: 2px solid $color2;
            }

            @media screen and (max-width: 450px) {
              font-size: 1rem;
            }

          }

          input[type="submit"] {
            margin: 50px auto 0 0;
            border-color: grey;
            color: grey;


            &:hover {
              background: gray;
              color: $color1;
              border-radius: 10px;
              transform: rotate(0deg);
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }
}