@font-face {
  font-family: "Font1";
  src: url(../fonts/Inter_18pt-ExtraBold.ttf);
}

@font-face {
  font-family: "Font2";
  src: url(../fonts/Merriweather_24pt-Light.ttf);
}

// Variables
$color1: #F3F3F3;
$color2: rgb(154, 239, 245);
$color3: rgb(231, 97, 8);
$black: rgb(65, 65, 65);
$barcolor: rgba(128, 128, 128, 0.212);
$footer-title-color : rgb(83, 83, 83);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: url(../img/bg.jpg) center/cover fixed;
  font-family: Font2;

  ul {
    display: flex;
    justify-content: space-around;
  }
  
  a {
    color: $color1;
    text-decoration: none;
  }
  a:visited {
    color: $color1;
  }

  .button {
    padding: 15px 40px;
    border: 2px solid $black;
    background: none;
    font-family: Font1;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 60px auto 50px auto;
    transition: 0.2s;
    cursor: pointer;
    transition: 0.2s;

    @media screen and (max-width: 700px) {
      font-size: 0.9rem;
      padding: 10px 30px;
      margin: 30px auto;
    }

    &:hover {
      transform: rotate(5deg);
      border-radius: 10px;
      border-color: $color2;
      background: $color2;
      color: $color3;
    }
  }
  
  #second-btn:hover {
    transform: rotate(-5deg);
  }

}