body {  
  main {
    .main-bottom {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 99.8%;
        background: $barcolor;
        top: 1px; /* Pour que ça ne double pas la bordure du haut */
        left: 50%;

        @media screen and (max-width: 1100px) {
          display: none;
        }
      }

      .main-bottom-container {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        // border-top: 1px solid $barcolor;

        @media screen and (max-width: 1100px) {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 50% 50%;
        }


        .main-info {
          width: 100%;
          margin: 0 auto;
          padding: 0 10%;
          border-top: 1px solid $barcolor;
          
          

          h2 {
            padding: 50px 0 30px 0;
          }


          h3 {
            line-height: 30px;
          }

          p {
            font-size: 1rem;
            line-height: 35px;
            text-align: left;
            margin-top: 20px;

            @media screen and (max-width: 700px) {
              font-size: 0.9rem;
              line-height: 30px;
            }
          }

          .secb-img {
            display: grid;
            height: 450px;

            img {
              width: 100%;
              height: 100%; /* Remplit la div */
              max-height: 450px;
              object-fit: cover; /* Evite à l'image de s'étirer */
            }
          }
        }
      }

    }
  }
}

