@charset "UTF-8";
@font-face {
  font-family: "Font1";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Font2";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Font3";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: Font3;
  background: #21201E;
  color: white;
}
body span {
  font-family: Font1;
  font-size: 3rem;
  color: #A67245;
}
body a, body a:visited {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}
body h1 {
  font-family: Font2;
  text-transform: uppercase;
  color: rgb(238, 238, 236);
  font-size: 5rem;
  letter-spacing: 6px;
  line-height: 50px;
}
body h2 {
  text-transform: uppercase;
  font-family: Font2;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 10px;
}
body h5 {
  color: #21201E;
  font-size: 1.1rem;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: 10px 0 20px 0;
}
body .adress {
  font-size: 0.8rem;
  color: rgb(165, 165, 165);
  letter-spacing: 1px;
  padding-bottom: 20px;
}
body .buy {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 0.8rem;
}
body img {
  padding: 30px 0;
}

body header {
  height: 100vh;
  background: url(../img/bg-slider-06.jpg) center/cover;
  color: white;
}
body header nav {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
body header nav .nav-left {
  display: flex;
  align-items: center;
}
body header nav .nav-left span {
  font-weight: 800;
}
body header nav .nav-mid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
  text-transform: uppercase;
}
body header nav .nav-mid li {
  cursor: pointer;
  transition: 0.2s;
}
body header nav .nav-mid li:hover {
  font-weight: bolder;
  font-size: 0.9rem;
  color: #A67245;
}
body header nav .nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s;
}
body header nav .nav-right li:hover {
  transform: scale(1.2);
}
body header nav .nav-right li:hover i {
  color: #A67245;
}
body header .header-container {
  width: 50%;
  height: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body header .header-container span {
  font-size: 4rem;
}
body header .header-container img {
  padding: 80px 0;
}
body header .header-container p {
  text-transform: uppercase;
  letter-spacing: 6px;
}

body main .sec1 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
body main .sec1 .sec1-left {
  background: rgb(238, 238, 236);
  color: #21201E;
}
body main .sec1 .sec1-left .sec1-left-container {
  margin: 20px;
  border: 1px dashed #A67245;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .sec1 .sec1-left .sec1-left-container .avatar {
  background: url(../img/avatar-01.jpg) center/cover;
  width: 80px;
  height: 80px;
  border-radius: 150px;
  margin: 30px 0 20px 0;
}
body main .sec1 .sec1-left .sec1-left-container .name {
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
body main .sec1 .sec1-left .sec1-left-container .function {
  text-transform: uppercase;
  color: grey;
  font-size: 0.8rem;
}
body main .sec1 .sec1-right {
  background: url(./../img/store-01.jpg) center/cover;
}
body main .sec2 {
  height: 100vh;
  background: #21201E;
  color: white;
  position: relative;
}
body main .sec2::before {
  content: "";
  position: absolute;
  z-index: 0;
  height: 600px;
  width: 100%;
  background: url(../img/bg-menu-01.jpg) center/cover;
  bottom: 0;
}
body main .sec2 .sec2-title {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}
body main .sec2 .sec2-title span, body main .sec2 .sec2-title img {
  display: block;
  margin: 0 auto;
}
body main .sec2 .nav-main {
  padding: 20px 0 50px 0;
}
body main .sec2 .nav-main ul {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
body main .sec2 .nav-main ul li {
  position: relative;
}
body main .sec2 .nav-main ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: gray;
  transform: translateY(30px);
}
body main .sec2 .sec2-container {
  background: rgb(238, 238, 236);
  color: #21201E;
  width: 50%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 15px 3%;
  position: relative;
}
body main .sec2 .sec2-container::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background: #A67245;
  top: 0;
}
body main .sec2 .sec2-container .sec2-menus-container .menus {
  display: grid;
  grid-template-columns: 25% 60% 10%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dashed rgb(194, 194, 194);
}
body main .sec2 .sec2-container .sec2-menus-container .menus img {
  width: 90%;
  border-radius: 50%;
}
body main .sec2 .sec2-container .sec2-menus-container .menus h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
}
body main .sec2 .sec2-container .sec2-menus-container .menus p {
  font-size: 0.9rem;
}
body main .sec2 .sec2-container .sec2-menus-container .menus .price {
  color: #A67245;
  font-size: 1.1rem;
  font-weight: bold;
}
body main .sec3 .sec3-container {
  width: 70%;
  max-width: 1000px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: center;
}
body main .sec3 .sec3-container .sec3-left {
  background: black;
  padding: 25px;
}
body main .sec3 .sec3-container .sec3-left .sec3-left-container {
  height: 100%;
  border: 1px dashed rgb(238, 238, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .sec3 .sec3-container .sec3-left .sec3-left-container h4 {
  padding: 15px 0;
  font-family: Font3;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #A67245;
  letter-spacing: 1px;
}
body main .sec3 .sec3-container .sec3-left .sec3-left-container p {
  font-size: 0.9rem;
  color: rgb(238, 238, 236);
  padding-bottom: 30px;
}
body main .sec3 .sec3-container .sec3-right {
  background: rgb(238, 238, 236);
  color: #21201E;
}
body main .sec3 .sec3-container .sec3-right .sec3-right-container {
  margin: 10%;
}
body main .sec3 .sec3-container .sec3-right .sec3-right-container form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 80px;
  grid-template-areas: "nb date hour" "name phone email" "btn btn btn";
  gap: 20px;
}
body main .sec3 .sec3-container .sec3-right .sec3-right-container form input {
  padding: 15px 0;
  background: none;
  border: none;
  font-size: 0.9rem;
}
body main .sec3 .sec3-container .sec3-right .sec3-right-container form .inp-with-before {
  text-align: left;
  position: relative;
}
body main .sec3 .sec3-container .sec3-right .sec3-right-container form .inp-with-before::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: rgb(199, 199, 199);
  bottom: 0;
}
body main .sec3 .sec3-container .sec3-right .sec3-right-container form .btn-submit {
  display: grid;
  grid-area: btn;
  width: 100%;
  align-items: end;
}
body main .sec3 .sec3-container .sec3-right .sec3-right-container form .btn-submit input {
  background: #21201E;
  width: 35%;
  height: 70%;
  margin: 0 auto;
  color: rgb(238, 238, 236);
  border-radius: 50px;
  text-transform: uppercase;
  font-family: Font2;
  font-size: 1rem;
  letter-spacing: 4px;
}
body main .sec4 .sec4-title {
  max-width: 1000px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
body main .sec4 .sec4-title h2 {
  line-height: 30px;
  font-size: 2.5em;
}
body main .sec4 .sec4-main {
  max-width: 1000px;
  width: 70%;
  margin: 0 auto;
}
body main .sec4 .sec4-main .date {
  background: #21201E;
  width: 90px;
  height: 90px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .sec4 .sec4-main .date .day {
  font-size: 1.5rem;
  font-weight: bold;
}
body main .sec4 .sec4-main .sec4-main-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas: "m1 m3" "m2 m3";
}
body main .sec4 .sec4-main .sec4-main-container .sec4-ml-right {
  background: rgb(238, 238, 236);
  color: #21201E;
  padding: 20px;
}
body main .sec4 .sec4-main .sec4-main-container .sec4-main-1 {
  display: grid;
  grid-area: m1;
  grid-template-columns: 30% 70%;
}
body main .sec4 .sec4-main .sec4-main-container .sec4-main-1 .sec4-ml-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/event-01.jpg) center/cover;
}
body main .sec4 .sec4-main .sec4-main-container .sec4-main-2 {
  display: grid;
  grid-area: m2;
  grid-template-columns: 30% 70%;
}
body main .sec4 .sec4-main .sec4-main-container .sec4-main-2 .sec4-ml-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/event-02.jpg) center/cover;
}
body main .sec4 .sec4-main .sec4-main-container .sec4-main-3 {
  display: grid;
  grid-area: m3;
  background: url(../img/event-03.jpg) center/cover;
}
body main .sec4 .sec4-main .sec4-main-container .sec4-main-3 .sec4-mr-container {
  margin: 25px;
  background: rgb(238, 238, 236);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .sec4 .sec4-main .sec4-main-container .sec4-main-3 .sec4-mr-container h5 {
  width: 60%;
  line-height: 23px;
  color: #21201E;
  padding-top: 40px;
}
body main .sec4 .sec4-main .sec4-main-container .sec4-main-3 .sec4-mr-container .adress {
  padding-bottom: 100px;
}
body main .sec4 .sec4-main .sec4-main-container .sec4-main-3 .sec4-mr-container .buy {
  color: #21201E;
  padding-bottom: 50px;
}
body main .sec5 {
  width: 100%;
  margin: 0 auto;
  padding: 150px 0 300px 0;
  position: relative;
}
body main .sec5::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 400px;
  background: url(../img/gmap.jpg) center/cover;
  bottom: 0;
  z-index: -1;
}
body main .sec5 div {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  background: rgb(238, 238, 236);
  color: #21201E;
  position: relative;
}
body main .sec5 div::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url(../img/avatar-02.jpg) center/cover;
  top: 0;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}
body main .sec5 div .sec5-text {
  padding-bottom: 30px;
  line-height: 30px;
}
body main .sec5 div .sec5-text::before {
  content: "❝";
  font-size: 1.5rem;
}
body main .sec5 div .sec5-text::after {
  content: "❞";
  font-size: 1.5rem;
}
body main .sec5 div .name {
  font-size: 1.5rem;
  padding-bottom: 15px;
}
body main .sec5 div .function {
  color: #A67245;
}

body footer {
  background: url(../img/bg-footer.jpg) center/cover;
}
body footer .footer-container {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
body footer .footer-container .footer-left {
  padding: 50px 50px 50px 0;
}
body footer .footer-container .footer-left p {
  font-size: 0.8rem;
  color: rgb(160, 160, 160);
  line-height: 25px;
}
body footer .footer-container .footer-right {
  padding: 50px 0 50px 50px;
}
body footer .footer-container .footer-right h6 {
  text-transform: uppercase;
  font-size: 0.8rem;
}
body footer .footer-container .footer-right input {
  background: none;
  border: 1px solid rgba(166, 114, 69, 0.2745098039);
  border-radius: 2px;
  padding: 10px;
  width: 50%;
  margin: 15px 0 50px 0;
}
body footer .footer-container .footer-right .networks {
  max-width: 300px;
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
}
body footer .footer-container .footer-right .networks ul {
  display: flex;
  justify-content: space-around;
}
body footer .footer-container .footer-right .networks ul li a {
  font-size: 0.8rem;
  color: rgb(160, 160, 160);
}/*# sourceMappingURL=index.css.map */